<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!--throwExceptions="true">-->
  <!--uncomment this string to debug Nlog-->

  <!--configuration-->
  <variable name="elasticSearchUrl" value="http://192.168.128.160:9200" />
  <extensions>
    <add assembly="NLog.Targets.ElasticSearch"/>
  </extensions>

  <targets async="true">
    <!--elastic-->
    <target name="data" uri="${elasticSearchUrl}"
                index="pacsearch-data-${date:format=dd-MM-yy}"
                documentType="_doc"
                includeAllProperties="true"
                xsi:type="ElasticSearch" >
      <field name="level" layout="${level:format=Ordinal}" layoutType="System.String"/>
      <field name="host" layout="${machinename}" layoutType="System.String"/>
      <field name="message" layout="${message}" layoutType="System.String"/>
      <field name="loggerName" layout="${logger}" layoutType="System.String"/>
      <field name="time" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}" layoutType="System.DateTime"/>
    </target>

    <target name="errors" uri="${elasticSearchUrl}"
              index="pacsearch-errors-${date:format=dd-MM-yy}"
              documentType="_doc"
              includeAllProperties="true"
              xsi:type="ElasticSearch" >
      <field name="level" layout="${level:format=Ordinal}" layoutType="System.String"/>
      <field name="host" layout="${machinename}" layoutType="System.String"/>
      <field name="message" layout="${message}" layoutType="System.String"/>
      <field name="exception" layout="${exception:format=toString}" layoutType="System.String"/>
      <field name="loggerName" layout="${logger}" layoutType="System.String"/>
      <field name="time" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}" layoutType="System.DateTime"/>
    </target>

    <target name="search-metrics" uri="${elasticSearchUrl}"
            index="pacsearch-search-metrics-${date:format=dd-MM-yy}"
            documentType="_doc"
            includeAllProperties="true"
            xsi:type="ElasticSearch" >
      <field name="level" layout="${level:format=Ordinal}" layoutType="System.String"/>
      <field name="host" layout="${machinename}" layoutType="System.String"/>
      <field name="message" layout="${message}" layoutType="System.String"/>
      <field name="loggerName" layout="${logger}" layoutType="System.String"/>
      <field name="time" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}" layoutType="System.DateTime"/>
    </target>

    <target name="storage-metrics" uri="${elasticSearchUrl}"
          index="pacsearch-storage-metrics-${date:format=dd-MM-yy}"
          documentType="_doc"
          includeAllProperties="true"
          xsi:type="ElasticSearch" >
      <field name="level" layout="${level:format=Ordinal}" layoutType="System.String"/>
      <field name="host" layout="${machinename}" layoutType="System.String"/>
      <field name="message" layout="${message}" layoutType="System.String"/>
      <field name="loggerName" layout="${logger}" layoutType="System.String"/>
      <field name="time" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}" layoutType="System.DateTime"/>
    </target>
    <target name="storage-changes-aviaprices" uri="${elasticSearchUrl}"
          index="pacsearch-storage-changes-aviaprices-${date:format=dd-MM-yy}"
          documentType="_doc"
          includeAllProperties="true"
          xsi:type="ElasticSearch" >
      <field name="level" layout="${level:format=Ordinal}" layoutType="System.String"/>
      <field name="host" layout="${machinename}" layoutType="System.String"/>
      <field name="message" layout="${message}" layoutType="System.String"/>
      <field name="loggerName" layout="${logger}" layoutType="System.String"/>
      <field name="time" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}" layoutType="System.DateTime"/>
    </target>
    <target name="storage-changes-costs" uri="${elasticSearchUrl}"
          index="pacsearch-storage-changes-costs-${date:format=dd-MM-yy}"
          documentType="_doc"
          includeAllProperties="true"
          xsi:type="ElasticSearch" >
      <field name="level" layout="${level:format=Ordinal}" layoutType="System.String"/>
      <field name="host" layout="${machinename}" layoutType="System.String"/>
      <field name="message" layout="${message}" layoutType="System.String"/>
      <field name="loggerName" layout="${logger}" layoutType="System.String"/>
      <field name="time" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}" layoutType="System.DateTime"/>
    </target>
    <target name="storage-changes-hotelprices" uri="${elasticSearchUrl}"
          index="pacsearch-storage-changes-hotelprices-${date:format=dd-MM-yy}"
          documentType="_doc"
          includeAllProperties="true"
          xsi:type="ElasticSearch" >
      <field name="level" layout="${level:format=Ordinal}" layoutType="System.String"/>
      <field name="host" layout="${machinename}" layoutType="System.String"/>
      <field name="message" layout="${message}" layoutType="System.String"/>
      <field name="loggerName" layout="${logger}" layoutType="System.String"/>
      <field name="time" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}" layoutType="System.DateTime"/>
    </target>
    <target name="storage-changes-availability" uri="${elasticSearchUrl}"
      index="pacsearch-storage-changes-availability-${date:format=dd-MM-yy}"
      documentType="_doc"
      includeAllProperties="true"
      xsi:type="ElasticSearch" >
      <field name="level" layout="${level:format=Ordinal}" layoutType="System.String"/>
      <field name="host" layout="${machinename}" layoutType="System.String"/>
      <field name="message" layout="${message}" layoutType="System.String"/>
      <field name="loggerName" layout="${logger}" layoutType="System.String"/>
      <field name="time" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}" layoutType="System.DateTime"/>
    </target>
    <target name="storage-changes-tours" uri="${elasticSearchUrl}"
      index="pacsearch-storage-changes-tours-${date:format=dd-MM-yy}"
      documentType="_doc"
      includeAllProperties="true"
      xsi:type="ElasticSearch" >
      <field name="level" layout="${level:format=Ordinal}" layoutType="System.String"/>
      <field name="host" layout="${machinename}" layoutType="System.String"/>
      <field name="message" layout="${message}" layoutType="System.String"/>
      <field name="loggerName" layout="${logger}" layoutType="System.String"/>
      <field name="time" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}" layoutType="System.DateTime"/>
    </target>
    <target name="datacache" uri="${elasticSearchUrl}"
          index="pacsearch-datacache-${date:format=dd-MM-yy}"
          documentType="_doc"
          includeAllProperties="true"
          xsi:type="ElasticSearch" >
      <field name="level" layout="${level:format=Ordinal}" layoutType="System.String"/>
      <field name="host" layout="${machinename}" layoutType="System.String"/>
      <field name="message" layout="${message}" layoutType="System.String"/>
      <field name="loggerName" layout="${logger}" layoutType="System.String"/>
      <field name="time" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}" layoutType="System.DateTime"/>
    </target>
    <target name="cacheservice" uri="${elasticSearchUrl}"
      index="pacsearch-cacheservice-${date:format=dd-MM-yy}"
      documentType="_doc"
      includeAllProperties="true"
      xsi:type="ElasticSearch" >
      <field name="level" layout="${level:format=Ordinal}" layoutType="System.String"/>
      <field name="host" layout="${machinename}" layoutType="System.String"/>
      <field name="message" layout="${message}" layoutType="System.String"/>
      <field name="loggerName" layout="${logger}" layoutType="System.String"/>
      <field name="time" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}" layoutType="System.DateTime"/>
    </target>
    <target name="searchcache" uri="${elasticSearchUrl}"
      index="pacsearch-searchcache-${date:format=dd-MM-yy}"
      documentType="_doc"
      includeAllProperties="true"
      xsi:type="ElasticSearch" >
      <field name="level" layout="${level:format=Ordinal}" layoutType="System.String"/>
      <field name="host" layout="${machinename}" layoutType="System.String"/>
      <field name="message" layout="${message}" layoutType="System.String"/>
      <field name="loggerName" layout="${logger}" layoutType="System.String"/>
      <field name="time" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}" layoutType="System.DateTime"/>
    </target>
    <target name="aviacache" uri="${elasticSearchUrl}"
      index="pacsearch-aviacache-${date:format=dd-MM-yy}"
      documentType="_doc"
      includeAllProperties="true"
      xsi:type="ElasticSearch" >
      <field name="level" layout="${level:format=Ordinal}" layoutType="System.String"/>
      <field name="host" layout="${machinename}" layoutType="System.String"/>
      <field name="message" layout="${message}" layoutType="System.String"/>
      <field name="loggerName" layout="${logger}" layoutType="System.String"/>
      <field name="time" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}" layoutType="System.DateTime"/>
    </target>
    <target name="aviasearch" uri="${elasticSearchUrl}"
      index="pacsearch-aviasearch-${date:format=dd-MM-yy}"
      documentType="_doc"
      includeAllProperties="true"
      xsi:type="ElasticSearch" >
      <field name="level" layout="${level:format=Ordinal}" layoutType="System.String"/>
      <field name="host" layout="${machinename}" layoutType="System.String"/>
      <field name="message" layout="${message}" layoutType="System.String"/>
      <field name="loggerName" layout="${logger}" layoutType="System.String"/>
      <field name="time" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}" layoutType="System.DateTime"/>
    </target>
  </targets>

  <rules>
    <logger name="searchServiceMetrics" minlevel="Debug" writeTo="search-metrics" />
    <logger name="searchServiceErrors" minlevel="Debug" writeTo="errors" />
    <logger name="searchStorageMetrics" minlevel="Debug" writeTo="storage-metrics" />
    <logger name="searchDataCache" minlevel="Debug" writeTo="datacache" />
    <logger name="searchCacheService" minlevel="Debug" writeTo="cacheservice" />
    <logger name="searchCache" minlevel="Debug" writeTo="searchcache" />
    <logger name="aviaCache" minlevel="Debug" writeTo="aviacache" />
    <logger name="aviaSearch" minlevel="Debug" writeTo="aviasearch" />
    <logger name="searchStorageChangesAviaPrices" minlevel="Debug" writeTo="storage-changes-aviaprices" />
    <logger name="searchStorageChangesCosts" minlevel="Debug" writeTo="storage-changes-costs" />
    <logger name="searchStorageChangesHotelPrices" minlevel="Debug" writeTo="storage-changes-hotelprices" />
    <logger name="searchStorageChangesAvailability" minlevel="Debug" writeTo="storage-changes-availability" />
    <logger name="searchStorageChangesTours" minlevel="Debug" writeTo="storage-changes-tours" />
  </rules>

</nlog>

